### Q.1  `List Comprehensions`

In [1]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
    
print(list([i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1)  if i+j+k !=n))

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [2]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
    
print(list([i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1)  if i+j+k !=n))

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

### Q.2 `Find the Runner-Up Score!`

In [5]:
n = int(input())
arr = map(int, input().split())
arr = list(arr)
x = max(arr)
y = -9999999
for i in range(0,n):
    if arr[i]<x and arr[i] > y:
        y = arr[i]
    
print(y)

5
2 3 6 6 5
5

### Q.3 `Nested Lists`

In [7]:
Result =[]
scorelist = []
    
for _ in range(int(input())):
    name = input()
    score = float(input())
    Result+=[[name,score]]
    scorelist+=[score]
b=sorted(list(set(scorelist)))[1] 
for a,c in sorted(Result):
    if c==b:
        print(a)

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

### Q.4 `Finding the percentage`

In [3]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
    query_name = input()
output = list(student_marks[query_name])    
per = sum(output)/len(output);
print("%.2f" % per)

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
print
print

ZeroDivisionError: division by zero

### Q.5 `Lists`

In [2]:
N = int(input())
empty = []
conv = []

for i in range(N):
    x = input().split()
    empty.append(x)

for i in range(len(empty)):
    if empty[i][0] == 'insert':
        x = int(empty[i][1])
        y = int(empty[i][2])
        conv.insert(x,y)
    elif empty[i][0] == 'print':
        print(conv)
    elif empty[i][0] == 'remove':
        conv.remove(int(empty[i][1]))
    elif empty[i][0] == 'append':
        conv.append(int(empty[i][1]))
    elif empty[i][0] == 'sort':
        conv.sort()
    elif empty[i][0] == 'pop':
        conv.pop()
    elif empty[i][0] == 'reverse':
        conv.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
remove 6
append 9
append 1
sort
print
pop
reverse
print
[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]

### Q.6 `Introduction to Sets`

In [4]:
def average(array):
    return sum(set(array))/len(set(array))

### Q.7 `No Idea!`

In [5]:
n, m = input().split()

sc_ar = input().split()

A = set(input().split())
B = set(input().split())
print(sum([(i in A) - (i in B) for i in sc_ar]))

3 2
1 5 3
3 1
5 7
1

###  Q.8 `Set .add()`

In [6]:
a = set()
[a.add(input()) for _ in range(int(input()))]
print(len(a))

7
UK
China
USA
France
New Zealand
UK
France
5

### Q.9 `Symmetric Difference`

In [8]:
a,b = [set(input().split()) for _ in range(4)][1::2]
print('\n'.join(sorted(a^b, key=int)))

4
2 4 5 9
4
2 4 11 12
5
9
11
12

### Q.10 `Set .discard(), .remove() & .pop()`

In [10]:
n = int(input())
s = set(map(int, input().split()))
operations = int(input())

for x in range(operations):
    oper = input().split()
    if oper[0] == "remove":
        s.remove(int(oper[1]))
    elif oper[0] == "discard":
        s.discard(int(oper[1]))
    else:
        s.pop()
    
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

### Q.11 `Set .union() Operation`

In [11]:
n = int(input())
l = list(input().split())
m = int(input())
k = list(input().split())

s1 = set(l)
s2 = set(k)

print(len(s1.union(s2)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

### Q.12 `Set .intersection() Operation`

In [1]:
num1, st1, num2, st2 = (set(input().split()) for i in range(4))
print(len(st1.intersection(st2)))

9
1 2 3 4 5 6 7 8 99
9
10 1 2 3 11 21 55 6 8
5

### Q.13 `Set .difference() Operation`

In [2]:
n1 = int(input())
set_1 = set(map(int,input().split()))
n2 = int(input())
set_2 = set(map(int,input().split()))
print(len(set_1-set_2))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

### Q.14 `Set .symmetric_difference() Operation`

In [3]:
_, a = input(), set(input().split())
_, b = input(), set(input().split())
print(len(a.symmetric_difference(b)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

### Q.15 `Set Mutations`

In [4]:
if __name__ == '__main__':
    (_, A) = (int(input()),set(map(int, input().split())))
    B = int(input())
    for _ in range(B):
        (command, newSet) = (input().split()[0],set(map(int, input().split())))
        getattr(A, command)(newSet)

    print (sum(A))

16
 1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

 ### Q.16 `The Captain's Room`

In [5]:
k,arr = int(input()),list(map(int, input().split()))
myset = set(arr)
print(((sum(myset)*k)-(sum(arr)))//(k-1))

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

### Q.17 `Check Subset`

In [6]:
for _ in range(int(input())):
    x, a, z, b = input(), set(input().split()), input(), set(input().split())
    print(a.issubset(b))

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

### Q.18 `Check Strict Superset`

In [1]:
def isstrictsuperset(a,b):
    
    return b.issubset(a) and not(a.issubset(b))

a = set(int(x) for x in input().split(' '))
n = int(input())
res = True

for _ in range(n):
    b = set(int(x) for x in input().split(' '))
    res &= isstrictsuperset(a,b)
    
print(res)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 52
100 11 12
False